.filterBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; 
  gap: 1rem;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom:24px;
}

.select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  transition: border-color 0.3s ease;
  min-width: 150px; 
    background-color: transparent;

}

.input:focus, .select:focus {
  border-color: #007bff;
  outline: none;
}

.button {
  padding: 11px;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  margin-right: 1px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid #d8d8d8;
}

.button:hover {
  background-color: #0056b3;
}
.select:hover{
    background-color: #0056b3;

}

@media (max-width: 600px) {
  .filterBar {
    flex-direction: column;
    align-items: stretch;
  }

  .filterBar > * {
    flex: 1 1 100%;
    margin-bottom: 0.5rem;
  }

  .input, .select {
    width: 100%;
  }

  .button {
    width: 100%;
  }

  .filterBar label {
    display: flex;
    flex-direction: column;
  }
}
