.formContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #dadde1;
  width: 600px;
  max-width: 100%;
  padding: 44px 57px;
  background-color: #fff;
  border-radius: 10px;
  margin-left: 40px;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 8px;
  color: #101828;
}

.textclass {
  color: #6c717b;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input {
  width: 100%;
  padding: 18px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  color: #6c717b;
  background-color: #f7f7f7;
  appearance: none;
  resize: none;
}

.input:focus {
  outline: none;
  border-color: #3470ff;
  box-shadow: 0 0 4px rgba(52, 112, 255, 0.5);
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 8px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}

.submitButton {
  margin-top: 14px;
  margin: 0 auto;
  padding: 16px 63px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: #e44848;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.submitButton:hover,
.submitButton:focus,
.submitButton:active {
  margin-top: 14px;
  margin: 0 auto;
  width: 166px;
  padding: 16px 63px;
  background-color: #d84343;
  transform: scale(0.98);
}
